<div class="row bg-secondary bg-gradient align-items-center" style="height: 10vh;">
  <div class="col d-flex align-items-center">
    <button class="btn btn-dark d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarmenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <h3 class="text-white ms-3 mb-0">Admin Dashboard</h3>
  </div>
</div>
