<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title || "Admin Panel" %></title>
 <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/admin.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <% include ../partials/topbar %>
  <div class="container-fluid">
    <div class="row">
      <% include ../partials/sidebar %>
      <main class="col-md-10 px-4 py-4">
        <%- body %>
      </main>
    </div>
  </div>
  <script src="/javascripts/bootstrap.bundle.min.js"></script>
</body>
</html>
